body {
    /* background-image: url(../images/Background/1368673.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: hotpink;
    height: 100%;
}
.navbar {
    background-color: purple;
}
.display-none {
    display: none;
}
.box-clear-dark {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; 
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    padding: 0.5em;
}
#image1 {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:90%;
}
.animate-test-1 {
    position: fixed;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    /* background-color: #abc; */
    left: -50px;
    width: auto;
    height: 300px;
    margin: -5px;
    z-index: 1000;
}  
.jumbotron {
    margin-bottom: 0;
    background-color: blueviolet;
}
.popover-title, .popover-header, .arrow {
    display: none;
}
.difficulty-btn {
    background-color: purple;
    color: white;
}
.game-choice-button, #welcome-screen-btn-start, #restart-game-btn, .multiplayer-btn {
    background-color: purple;
    color: white;
}
#game-section-card, #game-section-card-2 {
    background-color: lightpink;
}
.rotate-180-deg {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg); /* Standard syntax */
}
/* .popover-content, .popover-body {
    color: #fff;
}
.popover {
    
} */

