body {
    background-image: url(../images/Background/1368673.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}
.box-clear-dark {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; 
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    padding: 0.5em;
}
#image1 {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:90%;
}
.animate-test-1 {
    position: fixed;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    /* background-color: #abc; */
    left: -50px;
    width: auto;
    height: 300px;
    margin: -5px;
    z-index: 1000;
  }
  /* Popup container - can be anything you want */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    /* position: absolute; */
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    /* position: absolute; */
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.popover-title, .popover-header {
    display: none;
}

.popover-content, .popover-body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%; 
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    padding: 0.5em;
    font-size: large;
}

